<section class="content-header">
  <h1 style="visibility: hidden">Nuevo curso</h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i>Inicio
    </a></li>
    <li class="active">Nuevo curso</li>
  </ol>
</section>
<section class="content">
  <h1 class="color-blue" align="center">
    ¡Aprendé hoy mismo a crear un curso!
  </h1>
  <h3 class="color-gray" align="center" style="margin-bottom: 50px!important;">
    Breve guía para que puedas empezar a enseñar hoy mismo en tres simples pasos.
    ¡Te desafiamos a qué lo hagas!
  </h3>
  <div class="box box-primary col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 col-xs-12">
    <div class="box-body box-profile">
      <h3 class="color-blue" align="center">¿Por qué estados pasará el curso?</h3>
      <h4 class="color-gray" align="center">¡Seleccioná cualquier círculo para más información!</h4>
      <div class="row" style="margin-top: 30px!important;">
        <div class="text-center">
          <a data-toggle="collapse" id="sin-subrayar" href="#collapse1">
            <div class="circle1"><b>1.</b> Creado</div>
          </a>
          <a data-toggle="collapse" id="sin-subrayar" href="#collapse2">
            <div class="circle2"><b>2.</b> Publicado</div>
          </a>
          <a data-toggle="collapse" id="sin-subrayar" href="#collapse3">
            <div class="circle3"><b>3.</b> Finalizado</div>
          </a>
        </div>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <blockquote class="blockquote-sin-espacio" style="color: #6FA8DD;">
          <b>1. Creado</b>
        </blockquote>
        <ul>
          <li>Personalizá tus clases</li>
          <li> Agregá clases, modificalas, indica el contenido que se verán en ellas.</li>
          <li>¡Una vez que creas que está listo publicalo!</li>
        </ul>
      </div>
      <br>
      <div id="collapse2" class="panel-collapse collapse">
        <blockquote class="blockquote-sin-espacio" style="color: #3E85C7">
          <b>2. Publicado</b>
        </blockquote>
        <ul>
          <li>
            El curso ya se encuentra listo. Quienes lo deseen se podrán inscribir.
          </li>
          <li>
            Podrás gestionar inscripciones, pagos, asistencias a las clases y solicitar materiales que necesites.
          </li>
        </ul>
      </div>
      <br>
      <div id="collapse3" class="panel-collapse collapse">
        <blockquote class="blockquote-sin-espacio" style="color: #0C5395">
          <b>3. Finalizado</b>
        </blockquote>
        <ul>
          <li>
            Una vez que termine el curso debes finalizarlo.
          </li>
          <li>
            Cuando el curso se encuentre finalizado se activarán las encuestas correspondientes.
          </li>
          <li>
            ¡Podrás puntuar a tus alumnos y ellos a ti! Asi sabrás cómo te fue y cómo mejorar tus clases.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box box-primary col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="box-body box-profile">
      <h3 class="color-blue" align="center">¿Cúales son los pasos a seguir?</h3>
      <h4 class="color-gray" align="center">¡Clickeá y conocé un poco más!</h4>
      <a data-toggle="collapse" id="sin-subrayar" href="#collapse4">
        <div class="info-box bg-green" style="margin-top: 30px!important;">
          <span class="info-box-icon"><i class="fa  fa-graduation-cap"></i></span>
          <div class="info-box-content">
          <span class="info-box-number">
            <h3 class="pull-left">1. Crear un nuevo curso</h3>
          </span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
      <div id="collapse4" class="panel-collapse collapse">
        <h4>Completá el formulario para crear tu curso:</h4>
        <div class="box-fijo">
          <div class="row">
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="/1.jpg" alt="First slide" class="center-block carousel-img">
                  </div>
                  <div class="item">
                    <img src="/2.jpg" alt="Second slide" class="center-block carousel-img">
                  </div>
                  <div class="item">
                    <img src="/3.jpg" alt="Third slide" class="center-block carousel-img">
                  </div>
                  <div class="item">
                    <img src="/4.jpg" alt="Fourth slide" class="center-block carousel-img">
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a data-toggle="collapse" id="sin-subrayar" href="#collapse5">
        <div class="info-box bg-yellow" style="margin-top: 40px!important;">
          <span class="info-box-icon"><i class="fa fa-pencil"></i></span>
          <div class="info-box-content">
          <span class="info-box-number">
            <h3 class="pull-left">2. Personalizá tus clases</h3>
          </span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
      <div id="collapse5" class="panel-collapse collapse">

        <h4>Podés agregar, editar y eliminar todas las clases que quieras.</h4>
        <img src="/slide5.jpg" class="center-block img-sombreado" style="width: 100%; max-width: 300px;">
      </div>
      <a data-toggle="collapse" id="sin-subrayar" href="#collapse6">
        <div class="info-box bg-red" style="margin-top: 40px!important;">
          <span class="info-box-icon"><i class="fa  fa-thumbs-up"></i></span>
          <div class="info-box-content">
            <span class="info-box-number"><h3 class="pull-left">3. Publicá tu curso</h3></span>
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
      <div id="collapse6" class="panel-collapse collapse">
        <h4>Una vez que consideres que tu curso está listo, ¡publicalo!</h4>
        <h5 class="color-gray">(Ojo! Luego ya no podrás agregar más clases ni eliminarlas)</h5>
        <img src="/matem.jpg" class="center-block img-sombreado" style="width: 100%;  max-width: 400px; margin-bottom: 20px">
      </div>
      <div class="pull-right" style="margin-top: 40px; margin-bottom: 20px">
        <%= link_to "¡Empezá ahora mismo!", nuevo_curso_path, class: "btn btn-primary", 'data-no-turbolink' => 'false' %>
      </div>
    </div>
  </div>
</section>