<% provide(:title, "Quiénes Somos") %>
<section class="content-header">
  <h1 style="visibility: hidden;">¿Quienes somos?</h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i>Menú principal</a></li>
    <li class="active pull">¿Quiénes somos?</li>
  </ol>
</section>
<section class="content">
  <h1 >¿Quiénes Somos?</h1>
  <div class="col-md-12" style="margin: 30px 0 30px 0;">
    <p class="text-muted text-center col-md-offset-3 col-md-6" align="justify" style="font-size: large;">
      Estudiantes de Ingeniería en Sistemas de Información de la UTN de Buenos Aires.
      Estamos cursando nuestro último año de facultad. En el marco de la materia de Proyecto Final, tuvimos la
      oportunidad de elegir cualquier proyecto para llevarlo a cabo.
      Es así que surge <b>Sumemos Uno Más</b>, basada en nuestra propia voluntad e inspiración
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-offset-1 col-md-2">
        <!-- Profile Image -->
        <div class="box box-primary box-perfiles">
          <div class="box-body box-profile">
            <img src="/toia.jpeg" class="profile-user-img img-responsive img-circle" alt="User Image">
            <h3 class="profile-username text-center">Victoria Cabrera</h3>
            <p class="text-muted text-center mail-user">toiacabrera@hotmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="box box-primary box-perfiles ">
          <div class="box-body box-profile">
            <img src="/hernan.jpeg" class="profile-user-img img-responsive img-circle" alt="User Image">
            <h3 class="profile-username text-center">Hernán Noriega</h3>
            <h6 class="text-muted text-center mail-user">hernan_611@hotmail.com</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="box box-primary box-perfiles box-perfiles ">
          <div class="box-body box-profile">
            <img src="cami.jpeg" class="profile-user-img img-responsive img-circle" alt="User Image">
            <h3 class="profile-username text-center">Camila García Santillán</h3>
            <p class="text-muted text-center mail-user">camigarciasantillan@hotmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="box box-primary box-perfiles">
          <div class="box-body box-profile">
            <img src="/jonatan.jpeg" class="profile-user-img img-responsive img-circle" alt="User Image">
            <h3 class="profile-username text-center">Jonatan Pereyra</h3>
            <p class="text-muted text-center mail-user">pereyrajonatan@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="box box-primary box-perfiles">
          <div class="box-body box-profile">
            <img src="/anita.jpeg" class="profile-user-img img-responsive img-circle" alt="User Image">
            <h3 class="profile-username text-center">Ana Estévez</h3>
            <p class="text-muted text-center mail-user pull-bottom">estevezm.ana@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 20px">
      <blockquote class="center">
        <p class="comentario" style="font-size: x-large;">
          <i class="fa fa-quote-left" style="font-size: large"></i>
          Hay dos tipos de educación, la que te enseña a ganarte la vida y la que te enseña a vivir
          <i class="fa fa-quote-right" style="font-size: large"></i>
        </p>
      </blockquote>
    </div>
  </div>
</section>