<div class="social-share-button"  style="float: right;" data-title="<%= test %>" data-img="" data-url="<%= "https://#{request.host+url}" %>" data-desc="" data-via="" >
  <a rel="" data-site="twitter" class="ssb-icon ssb-twitter" onclick="return SocialShareButton.share(this);" title="Compartir Twitter" href=""></a>
  <a rel="" data-site="facebook" class="ssb-icon ssb-facebook" onclick="return SocialShareButton.share(this);" title="Compartir Facebook" href=""></a>
</div>